body {
    background-color: teal;
    font-family: "Trebuchet MS";
    display: flex;
    flex-direction: column;
    width: 100%;
}
h1 {
    color: white;
    font-size: 40px;
    padding: 0px 20px;
    text-align: center;
}
h2 {
    color: white;
    font-size: 2em;
    text-align: center;
}
p {
    flex-wrap: wrap;
    font-size: 100px;
    color: white;
    text-align: center;
    padding; 20px 0px;
}
img {
    align-items: center;
    width: 60%;
    align-content: right;
    cursor: pointer;

}
button {
    cursor: pointer;
}
#catSelector {
    flex-wrap: wrap;
    color: white;
    font-size: 1.3em;
    text-align: left;
    float: left;
    cursor: pointer;
    /*margin-left: 80px;
    margin-right: auto;*/
}
#catCount {
    flex-wrap: wrap;
    float: auto;
    color: white;
    font-size: 2em;
    text-align: center;
}
